## 1. Apply Function to Elements in a List

### any: Check id Any Element of an Iterable is True

In [1]:
# if you want to check if any element of an iterable  is True, use any.

text = 'abcdeF'
any(x for x in text if x.isupper())

True

### all: Check if all Elemnents of an Interable Are Strings

In [2]:
#for String
list1 = ['a','b','f', 11, 45]
all(isinstance(item, str)for item in list1)

False

In [3]:
#For Integer
i = [0,1,2,7,8,4]
all(isinstance(item, int) for item in i )

True

### filter: Get the Elements of an Iterable that a function Returns True

In [4]:
# If you want to get the Elements of an iterable that a function return true , use Filter 
def get_fruit(val:str):
    fruits = ['apple','orange','banana']
    if val in fruits:
        return True
    else:
        return False
items =['chair','apple','water','table','banana']
fruits = filter(get_fruit, items)
list(fruits)

['apple', 'banana']

In [5]:
# we can use this function for any types
def demo_func(val):
    items = ['apple','orange','banana',1,2]
    if val in items:
        return True
    else:
        return False
items2 =['chair','apple','water','table','banana',1,2,3,4,5]
items = filter(demo_func, items2)
list(items)

['apple', 'banana', 1, 2]

### map method: Apply a function to Each item of an Iterable

In [6]:
# If you want to apply the given function to each item of a given iterable, use map.

nums =[1,2,3,4]
list(map(str, nums)) #map() must have at least two arguments.

['1', '2', '3', '4']

In [7]:
def multiply_by_two(num:float):
    return num*2
list(map(multiply_by_two,nums))

[2, 4, 6, 8]

### Get Elements

#### random.choice: Get a Randomly selected  Element from Python List

In [8]:
#in this code below, 'do excercise' was picked randomly from a list of options

import random
to_do_tonight =['stay at home', 'attend a party','do excercise']
random.choice (to_do_tonight)

'do excercise'

In [9]:
# WAP to print given number is Prime or Not Prime 
num=1
flag=False

if num >1:
    for i in range(2,num):
        if num % i==0:
            flag=True
            break
            
if flag==True:
    print(num,"no is not prime")
else:
    print(num,"no is prime")

1 no is prime

In [10]:
import numpy as np
import pandas as pd

In [11]:
dict1={"Zeros":np.zeros(5),
        "Ones":np.ones(5)}

In [12]:
df=pd.DataFrame(dict1)
df

   Zeros  Ones
0    0.0   1.0
1    0.0   1.0
2    0.0   1.0
3    0.0   1.0
4    0.0   1.0

## WAP to append two list

In [13]:
list1 = [13,45,78,23,98,65,100]
list2 = [10,34,20,40,70,70,40]
list1.append(list2)
list1

[13, 45, 78, 23, 98, 65, 100, [10, 34, 20, 40, 70, 70, 40]]

In [14]:
l1 = [5,10,20,25,30,2]
l2 = [9,6,78,43,23,12]
l1.extend(l2)
l1

[5, 10, 20, 25, 30, 2, 9, 6, 78, 43, 23, 12]

## WAP to check weather number is prime  or not

In [15]:
x = int(input('Enter the number to check:'))
if x>1:
    for i in range (2,x):
        if x%i ==0:
            print(f'{x} is not a prime number')
            break
        else:
            print(f'{x} is prime number')

Enter the number to check:1

## WAP to check weather number is even  or odd

In [16]:
num = int(input("Enter the number:"))
if num%2==0:
    print('the given number is even')
else:
    print('the given number is odd')

Enter the number:2
the given number is even

## Find out the maximum number from the given list

In [17]:
list1 = [4,6,7,8,1,34,61,53]
max(list1)

61

## Find out the maximum number from the given list using For Loop

In [18]:
list1=[12,10,45,23,78,94,15]
max1 =0
for i in list1:
    if i>max1:
        max1 = i
print(max1)

94

## Find out the minimum number from the given list using For Loop

In [19]:
list2 = [23,54,87,97,54,61]
min1 = list2[0]
for i in list2:
    if i<min1:
        min1=i
print(min1)

23

## Find out the square of given list using list Comprehension

In [20]:
num = [10,23,12,20,30,43]
square = [i**2 for i in num]
square

[100, 529, 144, 400, 900, 1849]

## WAP to print square of given number using Lambda Function

In [21]:
l1 = [9,4,6,7,3,5,26,32]
sqr = lambda x:x**2
l2 = list(map(sqr,l1))
l2

[81, 16, 36, 49, 9, 25, 676, 1024]

## WAP to print sum of first 10 numbers

In [22]:
num = 1 
add = 0
n = 10 
while num<=n:
    add = add+1
    num = num+1
    print('Addition',add)

Addition 1
Addition 2
Addition 3
Addition 4
Addition 5
Addition 6
Addition 7
Addition 8
Addition 9
Addition 10

## wap with using Enumerate function

In [23]:
sub_name = ['math','lang','phy','bio','english']
marks = [60,85,65,70,80]
result ={}
for index, sub_name in enumerate (sub_name):
    result[sub_name] = marks[index]
result

{'math': 60, 'lang': 85, 'phy': 65, 'bio': 70, 'english': 80}

## WAP without using Enumerate function

In [24]:
sub_name = ['math','lang','phy','bio','english']
marks = [60,85,65,70,80]
result = {}
for i in sub_name:
    for j in marks:
        result[i] = j
    print(result)

{'math': 80}
{'math': 80, 'lang': 80}
{'math': 80, 'lang': 80, 'phy': 80}
{'math': 80, 'lang': 80, 'phy': 80, 'bio': 80}
{'math': 80, 'lang': 80, 'phy': 80, 'bio': 80, 'english': 80}

## WAP to print Cube of 1 to 11 range

In [25]:
cube = {}
for i in range (1,11):
    cube[i] = 1**3
print(cube)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

## WAP to print Fibonacci series from 1 to 10

In [26]:
a = 0
b = 1
for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [27]:
#other way to solve Fibonacci series from 1 to 10

list1 = [0,1]
for i in range(0,10):
    list1.append(sum(list1[-2:]))
print(list1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Check if string is palindrome or not

In [28]:
def is_palindrome(x):
    return x== x[::-1]
print(is_palindrome('nitin'))

True

## Write a python function that takes sentence as input and give number of words in sentence as a output

In [29]:
def num_words(text):
    for num in text.split():
        pass
    return len(num_words)
num_words('my name is snehal')

TypeError: object of type 'function' has no len()

In [ ]:
a_string = "one two three"
word_list = a_string.split()
#Split `a_string` by whitespace

number_of_words = len(word_list)
print(number_of_words)

## WAP take a name as a input and say "Hello" that name as output.

In [ ]:
print('Hello', input(prompt ="Enter Your Name:"))

In [ ]:
take some simple example and show one Lambda function

## Check if list contains Integer x

In [ ]:
l = [3,3,4,5,2,111,5]
print(111 in l) #True

## check if Two strings are Anagrams

In [ ]:
def is_anagram(s1, s2):
    return set(s1) == set(s2)
print(is_anagram("snehal","sanelh")) # True

In [ ]:
find duplicate numbers in integer list

### PROBLEM 1:

Given two Strings "a" and "z", return TRUE if "a" is subsequence of "z", or FALSE Otherwise.

Subsequence Definition:
    String "a" is Subsequence of String "z" if the character in string "a" appear in the same order (contiguous  or otherwise) 
    in String "z".
NOTE : An Empty String is a subsequence of Every String.
Example : 
    Input: a = "ace" ; z = "abcde"
    Output: TRUE
        
    Input: a = "aec" ; z = "abcde"    
    Output : FALSE

### Answer:

In [ ]:
def isSubSequence(string1, string2, a, z):
    # Base Cases
    if a == 0:
        return True
    if z == 0:
        return False
 
    # If last characters of two
    # strings are matching
    if string1[a-1] == string2[z-1]:
        return isSubSequence(string1, string2, a-1, z-1)
 
    # If last characters are not matching
    return isSubSequence(string1, string2, a, z-1)
 
 
# Driver program to test the above function
string1 = "ace"
string2 = "abcde"
 
if isSubSequence(string1, string2, len(string1), len(string2)):
    print ("TRUE")
else:
    print ("FALSE")

### PROBLEM :2

Give an Integer "n", return an array "a" of length "n+1" such that for each "i" (0<=i<=n), a[i] is the number of 1's in the binary representation of "1".  

Example: 
         Input: 5
         Output: [0,1,1,2,1,2]
         
         Input : 11
         Output: [0,1,1,2,1,2,2,3,1,2,2,3]

### Answer:

In [ ]:
num = int(input())
l = []
for i in range(num+1):
    i = list(bin(i))
    sum=0
    for j in i :
        if j=='1':
            sum +=1
    l.append(sum)
    
print(l)

### PROBLEM 3:

Given two Strings "a" and "z", return TRUE if "a" is longest common subsequence of "z", or FALSE Otherwise.
[find Longest Common Subsequence]
Subsequence Definition:
    String "a" is Subsequence of String "z" if the character in string "a" appear in the same order (contiguous  or otherwise) 
    in String "z".
NOTE : An Empty String is a subsequence of Every String.
Example : 
    Input: a = "ace" ; z = "abcde"
    Output: TRUE
        
    Input: a = "aec" ; z = "abcde"    
    Output : FALSE

### Answer:

In [ ]:
#Lets go with the recursive approach and breakdown the problem into sub-problem

def lcs(s1, s2, m,n):
    
    if m==0 or n==0:
        return 0
    elif s1[m-1] == s2[n-1]: #if last element of current string in both the strings are equal 
        return 1 + lcs(s1,s2,m-1,n-1); #do recursive call by dropping last element from the both string
    else:
        return max(lcs(s1,s2,m,n-1), lcs(s1,s2,m-1,n)); #else drop last element from either of s1 or s2
    
s1 = input("enter first string: ")
s2 = input("enter second string:")
if lcs(s1, s2, len(s1),len(s2)):
    print(1)
else:
    print(0)

### PROBLEM-4

Second Largest

Give an array (containing at most 1000 positive integers), find the second largest number .
if there exists no second largest integer, return -1.

Input Specification:
    Input: Length of the Array 
    Input2 : An array of positive integers
    
Output Specification:
    Return the second largest number  or -1 accordingly.
    
Example1:
    Input1: 3
    Input2: {2,1,2}
    
    Output: 1

#### Answer

1 is the Second Largest in the Array

Example 2: 
    Input1 : 3
    Input2 :{2,2,2}    
        
    Output : -1

#### Answer

As 2 is the only Digit in the array so there can't be a second Largest.
Hence the Output is -1.

### Problem-5

CAT Pairs

Tim while preparing for the CAT exam, was studying the Topic Number systems. 
He encountered a following Difficult Question:

Given a number N, find the number of pairs(x,y) where both x and y are less then N 
and Highest Common Factor(HCF)of x and y is 1.

You have to solve the question for him.

NOTE: 0 can be included within the pairs.
    
Input Specification:
    Input1 : the number N from which the pairs(x,y) should be obtained 
    
Output Specification:
    Return the total number of pairs.
    
Example-1 : 
    Input1: 4
        
    Output: 9

### Answer

The pairs can be (1,0),(0,1),(1,1),(1,2),(2,1),(1,3),(3,1),(2,3),(3,2)
so a total number of pairs is 9.

### Example-2

Input1 : 3

Output: 5

### Answer:

The Pairs can be (1,0),(0,1),(1,1),(1,2),(2,1).
So, a Total number of pairs is 5.

### Problem-6

Number of Decodings

Consider the following encoding Scheme.
A -->1, B-->2, Z-->26

Given an encoding using this scheme(a string containing at most 1000 digits)
find the number of possible decodings

the Function should return the number of decodings .

NOTE: the input string contains valid digit from 0 to 9 and there are no leading 0's
    no extra trailing 0's and no two or more consecutive 0's.
    
Input Specifiaction:
    Input1: the Input String
        
Output Specification:
    Return an integer representing the number of possible decodings .
    
Example-1:
    Input1: 121
    
    Output: 3

### Answer-

Possible Decodings are 'ABA','AU', and 'LA'. Hence, the number of decodings are 3.

### Example-2:

Input1 : 12345
  
Output : 3

### Answer:

Possible Decodings are 'ABCDE','LCDE', and 'AWDE'. Hence, the number of decodings are 3.